<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @user.kana %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @user.grade.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department.name%>
</p>

<p>
  <strong>Division:</strong>
  <%= @user.division.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @user.student_id %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
